<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
</head>
<body>
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <form role="form">
            <div class="form-group">
                <label >Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter email" value="<%=params.t%>">
            </div>
            <div class="form-group">
                <label >URL</label>
                <input type="text" class="form-control" id="url" placeholder="Enter email" value="<%=params.h%>">
            </div>
            <div class="form-group">
                <label >Keywords</label>
                <input type="text" class="form-control" id="keywords" placeholder="Enter email" value="<%=params.k%>">
            </div>
            <div class="form-group">
                <label >Description</label>
                <textarea id="description" class="form-control"><%=params.d%></textarea>
            </div>


            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>
</body>
</html>
