<html>
<head>

</head>
<h1>This is just drag/drop demo.</h1>
<h3>Please drag the below link to your bookmark bar. </h3>
<a href="javascript:(function(){var u='http://195.68.215.123:3000/add',d=document,w=window,a=d.getElementsByTagName('LINK'),l=w.location,h=l.href.match(/^https?:\/\/.*?\//),e=encodeURIComponent,m=d.getElementsByTagName('META'),n='',k='',t,i,s=''+(w.getSelection?w.getSelection():d.getSelection?d.getSelection():d.selection?d.selection.createRange().text:'');if(m)for(i=0;i<m.length;i++){if(m[i].name){t=m[i].name.toLowerCase();if(t=='description')n=m[i].content;if(t=='keywords')k=m[i].content}}if(s)n=s;if(h)h=h[0]+'favicon.ico';else h='';for(i=0;i<a.length;i++){if(a[i].rel&&a[i].rel.match(/^(shortcut icon|icon)/i)&&a[i].href&&a[i].href.match(/^https?:\/\//)){h=a[i].href}}l.href=(u+'?v=1'+'&h='+e(l.href)+'&i='+e(h)+'&t='+e(d.title.substr(0,200))+'&k='+e(k.substr(0,200))+'&d='+e(n)).substring(0,navigator.userAgent.match(/MSIE/)?2080:4000)})()" onclick="alert('Bookmark this link or drag it to your bookmarks bar. Use it to add new links to your bookmark page.');return false;">QuickStart</a>
<br>
<a href="javascript:(function(){var u='http://195.68.215.123:3000/share',d=document,w=window,l=w.location,h=l.href.match(/^https?:\/\/.*?\//),e=encodeURIComponent,m=d.getElementsByTagName('META'),n='',i,s=''+(w.getSelection?w.getSelection():d.getSelection?d.getSelection():d.selection?d.selection.createRange().text:'');if(m)for(i=0;i<m.length;i++)'description'==m[i].name.toLowerCase()&&(n=m[i].content);s&&(n=s),l.href=(u+'?v=1'+'&h='+e(l.href)+'&t='+e(d.title.substr(0,200))+'&d='+e(n)).substring(0,navigator.userAgent.match(/MSIE/)?2080:4e3);})()" onclick="alert('Bookmark this link or drag it to your bookmarks bar. Use it to quickly share web pages.');return false;">QuickStart.Share</a>
</html>