<!DOCTYPE html>
<html>
<head>
    <title>Share Demo</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
</head>
<body>
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <form role="form">
            <div class="form-group">
                <label >Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" >
            </div>
            <div class="form-group">
                <label >Email Subject</label>
                <input type="text" class="form-control" id="subject" placeholder="Enter email" value="<%=params.t%>">
            </div>


            <div class="form-group">
                <label >Email body</label>
                <textarea id="description" class="form-control"></textarea>
            </div>

            <img style="width:400px; height:400px;" src="/images/<%=img%>">


            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>
</body>
</html>
